
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div id="ctl00_divCenter" class="full-width col-sm-12">
        <section class="error-404 not-found">
            <div class="entry-content">
                <div class="row">
                    <div class="col-sm-4">
                        <h1 class="error-title hidden-xs">404!</h1>
                    </div>
                    <div class="col-sm-8">
                        <h2>Trang không tìm thấy</h2>
                        <p>Trang của bạn đang truy cập không tồn tại hoặc đã bị xóa. Hãy sử dụng chức năng tìm kiếm bên dưới để tìm đúng thông tin bạn cần.</p>
                    </div>
                </div>
                <div class="search comicsearchbox">
                    <div class="input-group">
                        <input type="text" class="searchinput form-control" placeholder="Tìm truyện..." autocomplete="off">
                        <div class="input-group-btn">
                            <input type="submit" value="Tìm kiếm" class="searchbutton btn btn-default">
                        </div>
                    </div>
                </div>
                <h3 class="error-msg">Trong lúc này, bạn có thể...</h3>
                <p>Trong lúc chúng tôi đang giải quyết vấn đề của bạn, bạn có thể thử:</p>
                <ul>
                    <li>Sửa lại đường dẫn truy cập.</li>
                    <li>Trở lại <a href="/">trang chủ</a>, và xem một vài truyện mới đăng.</li>
                    <li>Sử dụng chức năng tìm kiếm <strong>bên trên</strong>.</li>
                </ul>
            </div>
        </section>
    </div>
</div>